<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>게시판 - 등록</h1>
    <form method="post" action="/create" enctype="multipart/form-data" onsubmit="return passwordValidate()">
        <table>
            <tr>
                <select name="categoryId">
                    <option value="-1">전체 카테고리</option>
                    <option th:each="category : ${categoryList}"
                            th:value="${category.categoryId}"
                            th:text="${category.categoryName}">
                    </option>
                </select>
            </tr>
            <tbody>
            <tr>
                <td><label>작성자</label></td>
                <td><input type="text" name="userName" minlength="3" maxlength="4" required></td>
            </tr>
            <tr>
                <td><label>비밀번호</label></td>
                <td><input type="password" id="password" name="password" placeholder="비밀번호" minlength="4" maxlength="15" required></td>
                <td><label>비밀번호 확인</label></td>
                <td><input type="password" name="passwordCheck" placeholder="비밀번호 확인" minlength="4" maxlength="15" required></td>
            </tr>
            <tr>
                <td><label>제목</label></td>
                <td><input type="text" name="title" minlength="4" maxlength="99" required></td>
            </tr>
            <tr>
                <td><label>내용</label></td>
                <td><input type="text" name="content" minlength="4" maxlength="1999" required></td>
            </tr>
            <tr>
                <td><label>파일첨부</label></td>
                <td><input type="file" name="file"></td>
                <td><input type="file" name="file"></td>
                <td><input type="file" name="file"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="location.href = '/boards/free/list' ">취소</button>
        <input type="submit" value="저장">
    </form>
</body>
<script th:inline="javascript">
    const passwordValidate = () =>{
        const password = document.getElementById("password").value;
        const regex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{4,15}$/;
        if (regex.test(password)){
            return true;
        }else {
            alert("password invalidate");
            return false;
        }
    }
</script>
</html>